.review {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    @media (min-width: 640px) { 
       flex-direction: row;
       align-items: center;
    }
    @media (min-width: 768px) { 
        flex-direction: column;
        align-items: start;
     }
     @media (min-width: 1024px) { 
        flex-direction: row;
        align-items: center;
    }
    &__info {
        margin-top: 10px;
        @media (min-width: 640px) { 
            margin-top: 0;
        }
        @media (min-width: 768px) { 
            margin-top: 10px;
        }
        @media (min-width: 1024px) { 
            margin-top: 0;
        }
        display: flex;
        align-items: center;
        white-space: pre;
        &-text,
        &-bar {
            color: #909090;
        }
        &-text,
        &-write {
            font-size: 14px;
            font-style: oblique;
        }
        &-dash {
            display: none;
            @media (min-width: 640px) { 
                display: block; 
            }
            @media (min-width: 768px) { 
                display: none;
            }
            @media (min-width: 1024px) { 
                display: block; 
            }
        }
    }
    &__star {
        &-list {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: min-content;
            gap: 2px;
            &--item {
                overflow: hidden;
                font-size: 14px;
                white-space: nowrap;
                color: #ccc;
                &:before {
                    content: "★";
                }
                &.selected {
                    color: #ffd800;
                }
            }
        }
    }
  }
  