.footer {
    width: 100%;
    min-height: 15rem;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    @media (min-width: 768px) {
        min-height: 20rem;
    }
    @media (min-width: 1024px) {
        min-height: 25rem;
    }
    &__container {
        height: 100%;
        @extend .container;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -20px;
        &-column {
            flex: auto;
            margin: 20px;
            &--title {
                display: block;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 500;
            }
            &--text {
                display: block;
                font-weight: 300;
            }
        }
    }
}